<header>
  <h1>TodoList</h1>
</header>

<div class="form">
  <input type="text" name="title" [(ngModel)]="Todotitle">
  <button (click)="addTodo()">Add</button>
</div>

<select name="" id="" [(ngModel)]="filter" (change)="showList()">
  <option value="0">all</option>
  <option value="1">completed</option>
  <option value="2">Not completed</option>
</select>
<br>
<ng-container *ngIf="filteredTodo.length > 0">
  <div class="list" *ngFor="let todo of filteredTodo; let i = index">
    <input type="checkbox" name="isCompleted{{i}}" id="isCompleted{{i}}" [value]="todo.isCompleted" [(ngModel)]="todo.isCompleted" (change)="updateTodo(todo)">
    <label for="isCompleted{{i}}" [ngClass]="todo.isCompleted ? 'dash' : ''">{{todo.title}}</label>
  </div>
</ng-container>

<ng-container *ngIf="filteredTodo.length == 0">
  no todo to do
</ng-container>